@model GameLibra.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="details-banner  d-flex px-4 py-4 align-items-center justify-content-between">
    <div>
        <h4 class="banner-brand game-banner-brand">@ViewBag.Title</h4>
    </div>


    <div class="d-flex justify-content-center h-100 float-right">
        <form asp-controller="Games" asp-action="List" method="get">
            <div class="searchbar">
                <input class="search_input" type="text" name="search_str" placeholder="Search Games...">
                <a class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </form>
    </div>
</div>
<hr style="height:2px;border:none;color:#333;background-color:white;" />

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row">
        <div class="col-3">
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl class="dl-horizontal">
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
                </dd>
            </dl>
        </div>
    </div>
</div>
