@using GameLibra.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}
<div class="details-banner  d-flex px-4 py-5 align-items-center justify-content-between">
    <div>
        <h4 class="banner-brand game-banner-brand">@ViewBag.Title</h4>
    </div>
</div>
<hr style="height:2px;border:none;color:#333;background-color:white;" />
<div class="row">
    <div class="col">
        <!--<div class="col-md-8">-->
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label font-texturina" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label font-texturina" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Log in" class="btn btn btn-outline-light float-right" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn btn-outline-purple" })
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
        *@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}